.copyright {
  width: 100%;
  text-align: center;
  background-color: #262626;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  margin-top: -80px;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* border: 2px solid red; */
  animation: pulse 2s infinite;
}

.up i {
  color: #9b84ff;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 2rem;
}
